<img src="<%= park.img_url %>" style="width:120px; border-radius: 8px; margin-bottom: 12px;">
<h4><%= park.name %></h4>
<h5><%= park.location %></h5>
<a href="/parks/<%= park.id %>" target="_blank" style="font-size:20px;">More Info</a>
